/*
 * Empty Stylesheet file.
 */

.userSelectionButton {
    -fx-background-color: Gold;
    -fx-background-radius: 5;
    
    -fx-border-color: GoldenRod;
    -fx-border-radius: 5;
    
    -fx-effect: innershadow( one-pass-box , #DAA520 , 8 , 0.5 , 0 , 0  );
    
    -fx-text-fill: #7f6000;
    
    -fx-font-family: "Agency FB";
    -fx-font-size: 20pt;
    -fx-font-weight: bold;
}

.userSelectionButton:pressed {
    -fx-background-color: goldenrod;
}

.userSelectionButton:selected {
    /* #e4ba4e - goldenrod @60% */
    /* #e1b137 - goldenrod @55% */
    /* #dea821 - goldenrod @50%*/
    -fx-background-color: #e1b137; /* #daa520 */
    /* #daa520 - goldenrod @49%*/
    /* #c8981e - goldenrod @45% */
    /* #b1871b - goldenrod @40% */
    
    -fx-border-color: Gold;
}
.calculationButton {
    -fx-background-color: crimson;
    -fx-background-radius: 5;
    
    -fx-border-color: GoldenRod;
    -fx-border-radius: 5;
    
    -fx-effect: innershadow( one-pass-box , #DAA520 , 8 , 0.5 , 0 , 0  );
    
    -fx-text-fill: gold;
    
    -fx-font-family: "Agency FB";
    -fx-font-size: 20pt;
    -fx-font-weight: bold;
}

.calculationButton:pressed {
    -fx-background-color: #d2143a;
}

.calculationButton:selected {
    /* #ee4466 - Crimson @60% */
    /* #e1b137 - Crimson @55% */
    /* #e91640 - Crimson @50%*/
    -fx-background-color: #bb1133;
    /* #dc143c - Crimson @47%*/
    /* #d2143a - Crimson @45% */
    /* #bb1133 - Crimson @40% */
}

.userStatusLabel {
    -fx-background-color: DarkSeaGreen;
    -fx-background-radius: 5;
    -fx-effect: dropshadow( three-pass-box , #556B2F , 10 , 0.5 , 0 , 0  );
    -fx-border-color: DarkOliveGreen;
    -fx-border-radius: 5;
    
    -fx-font-family: "Trebuchet MS Bold";
    -fx-font-size: 18pt;
    
}

.envOptStatusLabel {
    -fx-background-color: DarkSeaGreen;
    -fx-background-radius: 5;
    -fx-effect: dropshadow( three-pass-box , #556B2F , 10 , 0.5 , 0 , 0  );
    -fx-border-color: DarkOliveGreen;
    -fx-border-radius: 5;
    
    -fx-padding: 0;
    -fx-text-alignment: center;
    
    -fx-font-family: "Trebuchet MS Bold";
    -fx-font-size: 16pt;
}

#ToolTip {
    -fx-effect: dropshadow( three-pass-box , #333333 , 10 , 0.5 , 0 , 0  );
}

.basePanel {
    -fx-background-color: #777777;
}

.listOfOptions {
    -fx-border-color: cornflowerblue;
    -fx-background-color: cornflowerblue;
    -fx-label-padding: 5 0 5 0;
    -fx-spacing: 0;
}

.list-cell:even {
    -fx-background-color: cornflowerblue;
    -fx-font-size: 11pt;
    -fx-label-padding: 5 0 5 0;
}
.list-cell:odd {
    -fx-background-color: cornflowerblue;
    -fx-font-size: 11pt;
    -fx-label-padding: 5 0 5 0;

}



.warning {
    -fx-background-color: lightgrey;
    -fx-text-fill: darkred;
    -fx-font-weight: bold;
}

.questionOnPanel {
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-background-color: transparent;
}

.environmentOptionPanel {
    -fx-background-color: cornflowerblue;
    -fx-background-radius: 5;
    -fx-border-color: darkblue;
    -fx-border-radius: 5;
}

.effectsOptionPanel {
    -fx-background-color: cornflowerblue;
    -fx-background-radius: 5;
    -fx-border-color: darkblue;
    -fx-border-radius: 5;
}

.weightingCriteriaPanel {
    -fx-background-color: lightblue;
    -fx-border-color: cornflowerblue;
    -fx-background-radius: 5;
    -fx-border-color: darkblue;
    -fx-border-radius: 5;
}


/*
 * The are various text styles used by the panels, cells, and controls
 */
.weightingCriteriaCategoryLabel {
    -fx-text-alignment: center;
    -fx-font-weight: bold;
    -fx-font-size: 12pt;
}

.weightingCriteriaPanelText {
    -fx-font-size: 12pt;
}

/* 
 * These are the header boxen aboves the selection columns that tells the user 
 * what the criteria are.
 */
.weightingCriteriaPanelTitleLabel {
    -fx-background-color: cornflowerblue;
    -fx-border-color: black;
}

.titleLabel {
    -fx-font-size: 30pt;
    -fx-font-weight: bold;
    -fx-font-underline: true;
    -fx-font-family: "Agency FB";
    -fx-text-alignment: center;
}

.mainTitleLabel {
    -fx-background-color: lightgrey;
    -fx-background-radius: 5;
    -fx-border-color: darkblue;
    -fx-border-radius: 5;
    
    -fx-font-size: 40pt;
    -fx-font-weight: bold;
    -fx-font-family: "Agency FB";
    
    -fx-text-fill: #7f6000;
    -fx-text-alignment: center;
    -fx-text-origin:top;
    
}

.mainSubTitleLabel {
    -fx-background-color: lightblue;
    -fx-background-radius: 5;
    -fx-border-color: darkblue;
    -fx-border-radius: 5;
    
    -fx-font-size: 32pt;
    -fx-font-weight: bold;
    -fx-font-family: "Agency FB";
    
    -fx-text-fill: #7f6000;
}